path {
    stroke: steelblue;
    stroke-width: 1px;
    fill: none;
}
.x.axis line {
    stroke: lightgrey;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path{
    stroke: black;
}
.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: brown;
}