body{
    background-color: #473c8b;
    color: yellow;
}
path {
    stroke: steelblue;
    stroke-width: 3px;
    fill: none;
}
.x.axis text {
    stroke: darkgray;
}
.x.axis line {
    stroke: darkgray;
}
.x.axis .minor {
    stroke-opacity: .5;
}
.x.axis path{
    stroke: darkgray;
}
.y.axis line, .y.axis path {
    fill: none;
    stroke: darkgray;
}
.bar {
    fill: #2e2e2e;
}
.bar:hover {
    fill: brown;
}